<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.rtl.min.css" rel="stylesheet">
</head>
<body>

<div class="row-cols-1 container">
    <form action="/user/login" method="post" type="json">
        <div class="mb-3">
            <label for="account" class="form-label">Email address</label>
            <input type="text" class="form-control" id="account" aria-describedby="emailHelp" name="account">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>