<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuma.questionnaire.dao.TitleMapper">
    <resultMap id="BaseList" type="com.niuma.questionnaire.entity.Title">
        <result property="id" column="ID"/>
        <result property="content" column="content"/>
        <association property="type">
            <result property="id" column="type"/>
            <result column="tyname" property="name"/>
        </association>
    </resultMap>
    <select id="getTitleByTestID" resultMap="BaseList">
        select *
        from title
        where TID = #{TID}
        order by ID
    </select>

</mapper>
